<div class="row ">
    <div class="col-lg-6 mb-4" data-aos="zoom-in">
       <img src="assets/image/Maskgroup2.png"
       class="img-fluid w-100  mr-3 "
       alt="Responsive image">
    </div>
    <div class="col-lg-6 mb-4" data-aos="zoom-in">
       <img src="assets/image/Maskgroup3.png"
       class="img-fluid w-100 h-100  ml-3 "
       alt="Responsive image">
    </div>
</div>

<div class="" data-aos="zoom-in">
      <img src="assets/image/Maskgroup4.png"
      class="img-fluid w-100 h-25  ml-3"
      alt="Responsive image">
</div>

<div class="row mt-4 mb-5">
   <div class="col-lg-6" data-aos="zoom-in">
      <img src="assets/image/Maskgroup5.png"
      class="img-fluid w-100  mr-3"
      alt="Responsive image">
   </div>
   <div class="col-lg-6" data-aos="zoom-in">
      <img src="assets/image/Maskgroup6.png"
      class="img-fluid w-100  ml-3"
      alt="Responsive image">
   </div>
</div>