<footer>
    <div style="background: #2C3878;">
      <div class="container">
          <div class="row pt-5 pb-5 text-light">
              <div class="col-lg-7">
                  <h2 class="w-75">
                      let's discuss making your interior like a dream place!
                  </h2>
              </div>
              <div class="col-lg-5">
                  <p class=" fs-5" style="color: #D9D9D9;">Contact us below to work together to build your amazing interior</p>
                  <button class="bg-white p-3 rounded-0  btn col-lg-4">Contact us</button>
              </div>
          </div>
      </div>
  </div>
  
      <div class="container">
          <div class="row pt-5 pb-5 ">
              <div class="col-lg-7">
                  <img src="assets/image//logo.png" class="img-responsive"  srcset="">
                  <h1 class="w-75 mt-3">
                      One of the best furniture agency.
                  </h1>
              </div>
              <div class="col-lg-5">
                  <div>
                    <p class=" fs-5" >  <span class="dot bg-dark p-2"></span> Enter  your email to get the laterst news</p>
                  </div>
          
         <div class="webflow-style-input ">
            <input class="" type="email" placeholder="What's your email?"/>
            <button type="submit" class="btn">
                <img src="assets/icons/Vector32.png" alt="" sizes="" srcset="">
            </button>
        </div>
        <div  class="mt-4">
                    
         <div class="d-flex flex-row-reverse">
            <div class="">
                <p>Follow Us On</p>
                <img src="assets/icons/facebook.png" alt="" class="do " sizes="" srcset=""> 
          </div>
          </div>
            
                  </div>
              </div>
          </div>
      </div>
  </footer>