


<div class="container">
 <app-navbar></app-navbar>
 <app-header></app-header>

 <div class="row mb-5 mt-5">
     <div class="col-lg-6">
        <h5 class="mt-3 mb-4"> Project Overview</h5>
         <p class="text-muted">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. </p>
         <div class="row mt-3 ">
             <div class="col-lg-4">
            <p>July 22 - 2022</p>
             </div>
             <div class="col-lg-8">
              <p>Interior Design - Furnitur</p>
             </div>
         </div>
     </div>
     <div class="col-lg-6">
        <h5 class="mt-3 mb-4"> Project Overview</h5>
        <p class="text-muted">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.. </p>
        <p class="text-muted">Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be done anytime and anywhere.</p>
     
    </div>
 </div>

 <div class="row ">
     <div class="col-lg-6 mb-4" data-aos="zoom-in">
        <img src="assets/image/Maskgroup2.png"
        class="img-fluid w-100  mr-3 "
        alt="Responsive image">
     </div>
     <div class="col-lg-6 mb-4" data-aos="zoom-in">
        <img src="assets/image/Maskgroup3.png"
        class="img-fluid w-100 h-100  ml-3 "
        alt="Responsive image">
     </div>
 </div>

 <div class="" data-aos="zoom-in">
       <img src="assets/image/Maskgroup4.png"
       class="img-fluid w-100 h-25  ml-3"
       alt="Responsive image">
</div>

<div class="row mt-4 mb-5">
    <div class="col-lg-6" data-aos="zoom-in">
       <img src="assets/image/Maskgroup5.png"
       class="img-fluid w-100  mr-3"
       alt="Responsive image">
    </div>
    <div class="col-lg-6" data-aos="zoom-in">
       <img src="assets/image/Maskgroup6.png"
       class="img-fluid w-100  ml-3"
       alt="Responsive image">
    </div>
</div>
</div>


<div style="background: #2C3878;">
    <div class="container">
        <div class="row pt-5 pb-5 text-light">
            <div class="col-lg-7">
                <h2 class="w-75">
                    let's discuss making your interior like a dream place!
                </h2>
            </div>
            <div class="col-lg-5">
                <p class=" fs-5" style="color: #D9D9D9;">Contact us below to work together to build your amazing interior</p>
                <button class="bg-white p-3 rounded-0  btn col-lg-4">Contact us</button>
            </div>
        </div>
    </div>
</div>

<footer>
  
    <div class="container">
        <div class="row pt-5 pb-5 ">
            <div class="col-lg-7">
                <img src="assets/image//logo.png" class="img-responsive"  srcset="">
                <h1 class="w-75 mt-3">
                    One of the best furniture agency.
                </h1>
            </div>
            <div class="col-lg-5">
                <p class=" fs-5" >Enter  your email to get the laterst news</p>
            </div>
        </div>
    </div>
</footer>